*{
    font-family:'Courier New', Courier, monospace;
    box-sizing: border-box;
    color: white;
    margin: 0%;
}
body{
    background-color: #222222;
}
#cabecalho{
    display:flex;
    justify-content: right;
    flex-wrap: wrap;  
}
#cabecalho a{
    padding: 1em;
    text-decoration: none;
}
#about_me {
  width: 40em;
  max-width: 100%;
  margin-left: auto;
  padding: 10px;
  padding-right: 5em;
  transform: translateX(-160px);
}
@media (max-width: 600px){
    #cabecalho{
        flex-direction: column;
    }
@media (max-width: 600px){
  #about_me{
    width: 100%;
    margin-left: 0;
    text-align: center;
  }
}
}
#Ferramentas{
    display: flex;
    background-color: #242424;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;  
    padding: 1em;
}
#Ferramentas p{
    margin-right: 4em;
    font-size: 1.4em;
}
#introducao {
  display: flex;
  align-items: center;
  justify-content: center; 
  gap: 40px;
  flex-wrap: wrap;
}

#texto_introducao {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 400px;
  transform: translateX(-100px);
}

#introducao img {
  width: 250px;
  max-width: 100%; 
  height: auto;
  transform: translateX(130px);
}
